body {
    width: 100%;
    height: 100vh;
      display: flex;
      position: relative;
      background: #eeeeec;
    align-items: center;
      flex-direction: column;
      justify-content: center;
      
      font-family: 'Open Sans', sans-serif;
      font-size: 100%;
  }
  .profile {
    margin-top: 2.2em;
    position: relative;
    
    &:after {
        width: 100%;
        height: 1px;
        content: ' ';
        display: block;
        margin-top: 1.3em;
        background: #E9EFF6;
    }}